body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(52, 197, 223);
}

#cabeçalho{
background-color: rgb(191, 93, 230);
text-align: center;
padding: 20px;

}
ul{
list-style:none;/* tira aquelas bolinhas*/
display: flex; /*Deixa os textos deitados um do lado do outro*/
justify-content: center;

}
li{
margin: 10px; /*Espaçamento entre as palavras do Header*/
}
a{

text-decoration:none;
color: white;
}
a:hover{ /*Adicionando Transição de cor ao passar o mouse em cima*/
color: black;
transition: 0.3s;
}
header img{ /*Alterando o tamanho da imagem*/
width:100px;
height: auto;

}





